*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.box{
    height: 70%;
    width: 69%;
    border: 3px solid darkblue;
    border-radius: 20px;
}
h1{
    padding-left: 220px;
    color: black;

    
}
.search{
    
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.search .txt{
    border-radius: 10px;
    height: 40px;
    width: 400px;
    font-size: 20px;
    color: black;
}
button{
    height: 30px;
    width: 80px;
    font-size: 20px;
    margin-left: 30px;
    color: black;
}
.theme{
    margin-top: 30px;
    height: 80px;
    width: 500px;
    border: 3px solid white;
    margin-left: 550px;
    background-color: white;
    border-radius: 20px;
}
.circle{
    padding-top: 7px;
}
h1{
  font-family: yanone kaffeesatz;
  font-size: 40px;
  color: teal;
}

.btn1{
  width: 60px;
  height: 60px;
  border-radius: 2rem;
  border: 5px solid green; 
  box-shadow: 4px 4px 3px #808080;
}

.btn2{
  width: 60px;
  height: 60px;
  border-radius: 2rem;
  border:5px solid blue; 
  box-shadow: 4px 4px 3px #808080;
}

.btn3{
  width: 60px;
  height: 60px;
  border-radius: 2rem;
  border:5px solid pink; 
  box-shadow: 4px 4px 3px #808080;
}

.btn4{
  width: 60px;
  height: 60px;
  border-radius: 2rem;
  border: 5px solid yellow; 
  box-shadow: 4px 4px 3px #808080;
}

.btn5{
    width: 60px;
    height: 60px;
    border-radius: 2rem;
    border: 5px solid grey; 
    box-shadow: 4px 4px 3px #808080;
}

p{
    font-family: yanone kaffeesatz;
    font-size: 30px;
    color: darkmagenta;
    
}

.gif{
    width: 69%;
    margin: auto;
    border-radius: 5px;
    border: 5px solid darkblue;
    
}